<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Education</title>
    <div th:replace="base::css"></div>


</head>
<body>

<span th:text="${job.id}"></span>
<div th:replace="base::navlinks"></div>

<form action = "#"
      th:action="@{/processJobSkills/{id}(id=${job.id})}"
      th:object="${newSkill}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Skill:<input type="text" th:field= "*{jobSkill}" />
    <span th:if="${#fields.hasErrors('jobSkill')}"
          th:errors="*{jobSkill}"></span><br/>
    <br />
    <input type="submit" values="Submit" />
</form>
</body>
</html>