<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form action = "#"
      th:action="@{/processsummary}"
      th:object="${summary}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Summary:<input type="text" th:field= "*{summary}" />
    <span th:if="${#fields.hasErrors('summary')}"
          th:errors="*{summary}"></span><br/>

    <br />
    <input type="submit" values="Submit" />
</form>
</body>
</html>