<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div th:fragment="navlinks">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Richard's Resume Service</a>
            </div>
            <ul class="nav navbar-nav">
                <li><img src="../css/images/8ea915c2950a58cad7e184b94d6d4bac--line-art-design-pet-logo.jpg" height="100" width="100"/></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/summary">Summary</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/contact">Contact Info</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/education">Education</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/skills">Skills</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/experience">Experience</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/references">References</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Resume</button>
                        <div class="dropdown-content">
                            <a href="/resume">Resume</a>
                            <a href="/coverletter">Cover Letter</a>
                        </div>
                    </div> </li>
                <li sec:authorize="hasAuthority('RECRUITER')"><a href="/addJob">Add a Job</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/seeJobs">Look at Jobs</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Log in</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout">Log out</a> </li>
            </ul>
        </div>
    </nav>

</div>
<div th:fragment="css">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/css.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
<!--<div th:fragment="footer">copyright 2018</div>-->
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>