<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Education</title>
    <div th:replace="base::css"></div>


</head>
<body>

<div th:replace="base::navlinks"></div>

<form action = "#"
      th:action="@{/processexperience}"
      th:object="${experiences}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Education Experience:<input type="text" th:field= "*{experience}" />
    <span th:if="${#fields.hasErrors('experience')}"
          th:errors="*{experience}"></span><br/>
    //Make textbox larger

    <br />
    <input type="submit" values="Submit" />
</form>
</body>
</html>