<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Richard's Resume Service</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/summary">Summary</a></li>
        <li><a href="/contact">Contact Info</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/references">References</a></li>  //Make viable only to applicant
        <li><a href="/view"></a>View</li> //Two item list with resume and cover letter
    </ul>
</div>
</nav>
This is Resume.
<tr th:each="resume : ${resume}">

<th>Name:</th>

<td th:text="${resume.name}"></td>
</tr>
</body>
</html>