<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:replace="base::css"></div>
</head>

<body>
<div th:replace="base::navlinks"></div>

<div th:each="person:${currentUser}">
    <div th:each="resume : ${person.resumeList}">
        <p>Name:</p>
        <p th:text="${resume.name}"></p>
        <p>Email:</p>
        <p th:text="${resume.email}"></p>
    </div>
    <p>Education:</p>
    <div th:each="educate : ${person.educationList}">
        <p th:text="${educate.education}"></p>
    </div>
    <p>Skills:</p>
    <div th:each="userSkills : ${person.skillsList}">
        <a th:text="${userSkills.skill}">:</a>
        <p th:text="${userSkills.proficiency}"></p>
    </div>
    <p>Experiences:</p>
    <div th:each="exper : ${person.experienceList}">
        <p th:text="${exper.experience}"></p>
    </div>

</div>

</body>
</html>