<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skill</title>
    <div th:replace="base::css"></div>

</head>
<body>

<div th:replace="base::navlinks"></div>

<form action = "#"
      th:action="@{/processskill}"
      th:object="${skill}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Skills:<input type="text" th:field= "*{skill}" />
    <span th:if="${#fields.hasErrors('skill')}"
          th:errors="*{skill}"></span><br/>
    Proficiency:<input type="number" th:field= "*{proficiency}" />
    <span th:if="${#fields.hasErrors('proficiency')}"
          th:errors="*{proficiency}"></span><br/>

    <br />
    <input type="submit" values="Submit" />
</form>
</body>
</html>